{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a style="text-decoration: none;" id="logo" href="#" >
       <span style="color:black">acceuil</span> 
    </a>
{% endblock %}